<div style="background-color: #877EB4" class="uk-margin uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <h3 style="color: black" class="uk-card-title uk-text-center">            Submissions to Date</h3>
    <table style="color: black" class="uk-table">
        <thead>
        <th style="color: black">Student Name</th>
        <th style="color: black">Project Title</th>
        <th style="color: black">Descriptive Title</th>
        <th style="color: black">Project Type</th>
        <th style="color: black">Student Personal Photo</th>
        <th style="color: black">Project Image</th>
        <th style="color: black">Summary (<100 words)</th>
        <th style="color: black">Project Landing Page URL</th>
        <th style="color: black">Demonstration Video URL</th>
        </thead>
        <tbody class="uk-text-left">
                    <tr>
                <td>{{submission.firstName}} {{submission.lastName}}</td>
                <td>{{submission.projectTitle}}</td>
                <td>{{submission.descriptiveTitle}}</td>
                <td>{{submission.projectType}}</td>
                <td>{{submission.personalPhoto}}</td>
                <td>{{submission.projectImage}}</td>
                <td>{{submission.summary}}</td>
                <td>{{submission.projectUrl}}</td>
                <td>{{submission.videoUrl}}</td>
            </tr>
        </tbody>
    </table>
</div>