<div class="uk-grid">
    <div class="uk-width-1-2 uk-grid-margin">
        <div style="background-color: #877EB4" class="uk-margin uk-margin-auto uk-card uk-card-default uk-card-small uk-card-body uk-box-shadow-large">
            <div style="color: black" class="uk-text-left"><strong>Student Name:</strong></div>
            <div style="color: black" class="uk-text-left">{{submission.firstName}} {{submission.lastName}}</div>
        </div>
    </div>

    <div class="uk-width-1-2 uk-grid-margin">
        <div style="background-color: #877EB4" class="uk-margin uk-margin-auto uk-card uk-card-default uk-card-small uk-card-body uk-box-shadow-large">
            <div style="color: black" class="uk-text-left"><strong>Project Title:</strong></div>
            <div style="color: black" class="uk-text-left">{{submission.projectTitle}}</div>
        </div>
    </div>

    <div class="uk-width-1-2 uk-grid-margin-small">
        <div style="background-color: #877EB4" class="uk-margin uk-margin-auto uk-card uk-card-default uk-card-small uk-card-body uk-box-shadow-large">
            <div style="color: black" class="uk-text-left"><strong>Descriptive Title:</strong></div>
            <div style="color: black" class="uk-text-left">{{submission.descriptiveTitle}}</div>
        </div>
    </div>

    <div class="uk-width-1-2 uk-grid-margin-small">
        <div style="background-color: #877EB4" class="uk-margin uk-margin-auto uk-card uk-card-default uk-card-small uk-card-body uk-box-shadow-large">
            <div style="color: black" class="uk-text-left"><strong>Project Type:</strong></div>
            <div style="color: black" class="uk-text-left">{{submission.projectType}}</div>
        </div>
    </div>

    <div class="uk-width-1-2 uk-grid-margin-small">
        <div style="background-color: #877EB4" class="uk-margin uk-margin-auto uk-card uk-card-default uk-card-small uk-card-body uk-box-shadow-large">
            <div style="color: black" class="uk-text-left"><strong>Student Personal Photo:</strong></div>
            <div style="color: black" class="uk-text-left"><img src="{{submission.personalPhoto}}" alt="Personal Photo"></div>
        </div>
    </div>

    <div class="uk-width-1-2 uk-grid-margin-small">
        <div style="background-color: #877EB4" class="uk-margin uk-margin-auto uk-card uk-card-default uk-card-small uk-card-body uk-box-shadow-large">
            <div style="color: black" class="uk-text-left"><strong>Project Image:</strong></div>
            <div style="color: black" class="uk-text-left"><img src="{{submission.projectImage}}" alt="Project Image"></div>
        </div>
    </div>

    <div class="uk-width-1-1 uk-grid-margin-small">
        <div style="background-color: #877EB4" class="uk-margin uk-margin-auto uk-card uk-card-default uk-card-small uk-card-body uk-box-shadow-large">
            <div style="color: black" class="uk-text-left"><strong>Summary (≤100 words):</strong></div>
            <div style="color: black" class="uk-text-left">{{submission.summary}}</div>
        </div>
    </div>

    <div class="uk-width-1-2 uk-grid-margin-small">
        <div style="background-color: #877EB4" class="uk-margin uk-margin-auto uk-card uk-card-default uk-card-small uk-card-body uk-box-shadow-large">
            <div style="color: black" class="uk-text-left"><strong>Project Landing Page URL:</strong></div>
            <div style="color: black" class="uk-text-left"><a href={{submission.projectUrl}} target=”_blank”>{{submission.projectUrl}}</a></div>
        </div>
    </div>

    <div class="uk-width-1-2 uk-grid-margin-small">
        <div style="background-color: #877EB4" class="uk-margin uk-margin-auto uk-card uk-card-default uk-card-small uk-card-body uk-box-shadow-large">
            <div style="color: black" class="uk-text-left"><strong>Demonstration Video URL:</strong></div>
            <div style="color: black" class="uk-text-left"><a href={{submission.videoUrl}} target=”_blank”>{{submission.videoUrl}}</a></div>
        </div>
    </div>
</div>