<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> admin-menu title="Uathcruthú" subTitle="Rogha Comhaid" }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-expand@m">
            <h1 class="uk-heading-small">Cúrsaí Riaracháin - Baile</h1>
        </div>
    </div>
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center uk-grid">
        <div class="uk-width-expand@m">
            <div class="uk-grid">
                <div class="uk-width-1-2 uk-grid-margin">
                    <div style="background-color: #877EB4" class="uk-margin uk-margin-auto uk-card uk-card-default uk-card-small uk-card-body uk-box-shadow-large">
                        <table style="color: black" class="uk-table">
                            <div style="color: black" class="uk-text-left"><strong>List of Students</strong></div>
                            <thead>
                            <th style="color: black"><strong>Student</strong></th>
                            <th style="color: black"><strong>Submission Page</strong></th>
                            </thead>
                            <tbody class="uk-text-left">
                            {{#each submissions}}
                                <tr>
                                    <td>
                                        <!--This link is disabled, because it is a link to the cache that was intended
                                        as a means for reviewing each user pdf individually. If the user pdf does not
                                        exist in the cache, it generates a 404 error. I attempted numerous work-arounds
                                        most notably conditional disablement (e.g. XMLHttpRequest() to first see if the
                                        file exists), but nothing worked.-->
                                        <!--If the submission is incomplete, the entry is visible in red-->
                                        {{#if (eq submissionIncomplete true)}}
                                            <div class="uk-width-1-2 uk-grid-margin">
                                                <a href="./handbooks/{{firstName}}{{lastName}}.pdf" target=”_blank” class="uk-card uk-card-small uk-text-center uk-padding-remove" onclick="return false">
                                                    <div id="userSubmission" style="color: darkred" class="uk-text-left">{{firstName}} {{lastName}}</div>
                                                </a>
                                            </div>
                                        {{else}}
                                            <div class="uk-width-1-2 uk-grid-margin">
                                                <a href="./handbooks/{{firstName}}{{lastName}}.pdf" target=”_blank” class="uk-card uk-card-small uk-text-center uk-padding-remove" onclick="return false">
                                                    <div id="userSubmission" style="color: black" class="uk-text-left">{{firstName}} {{lastName}}</div>
                                                </a>
                                            </div>
                                        {{/if}}
                                    </td>
                                    <td>
                                        <div class="uk-margin">
                                            <a href="/submission-admin/{{_id}}">
                                                <button style="background-color: #653DC2" class="submit uk-button uk-button-primary">Submission Page</button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="uk-margin">
                <a href="/create-handbook">
                <button style="background-color: #653DC2" class="submit uk-button uk-button-primary uk-button-large uk-width-1-2">Create Handbook</button>
                </a>
            </div>

            <div class="uk-margin">
                <a href="./handbooks/handbook.pdf" target=”_blank”>
                    <button style="background-color: #653DC2" class="submit uk-button uk-button-primary uk-button-large uk-width-1-2">Review Handbook</button>
                </a>
            </div>

            <div class="uk-margin">
                <a href="/other-form">
                    <button style="background-color: #653DC2" class="submit uk-button uk-button-primary uk-button-large uk-width-1-2">'Other' Project Types</button>
                </a>
            </div>

            <div class="uk-margin">
                <a href="/handbook-form">
                    <button style="background-color: #653DC2" class="submit uk-button uk-button-primary uk-button-large uk-width-1-2">Admin pdf Form</button>
                </a>
            </div>

            {{> error }}
        </div>
    </div>
</div>