<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> main-menu title="Uathcruthú" subTitle="Submit Project Showcase Data"}}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-expand@m">
            <h1 class="uk-heading-small">Tionscadal Uathcruthú</h1>
            <p>Leathanach Ionchuir</p>
        </div>
    </div>
</div>

<div style="background-color: #877EB4" class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <h3 style="color: black" class="uk-card-title uk-text-center">Welcome back!</h3>
    <form action="/submit" method="POST" enctype="multipart/form-data">

        <div class="uk-margin">
            <label style="color: black; font-size:120%">Project Title:</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                <input class="uk-input uk-form-small" type="text" name="projectTitle" {{#if submission.projectTitle}}
                       placeholder="{{submission.projectTitle}}"
                       {{/if}}
                    {{#unless submission.projectTitle}}
                       placeholder="Project Title"
                    {{/unless}}/>
            </div>
        </div>

        <div class="uk-margin">
            <label style="color: black; font-size:120%">Descriptive Title:</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                <input class="uk-input uk-form-small" type="text" name="descriptiveTitle" {{#if submission.descriptiveTitle}}
                       placeholder="{{submission.descriptiveTitle}}"
                {{/if}}
                    {{#unless submission.descriptiveTitle}}
                       placeholder="Descriptive Title"
                    {{/unless}}/>
            </div>
        </div>

        <div class="uk-margin">
            <label style="color: black; font-size:120%">Project Type:</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: file-edit"></span>
                <input class="uk-input uk-form-small" type="text" name="projectType" {{#if submission.projectType}}
                       placeholder="{{submission.projectType}}"
                {{/if}}
                    {{#unless submission.projectType}}
                       placeholder="Project Type"
                    {{/unless}}/>
            </div>
        </div>

        <div class="uk-margin">
            <label style="color: black; font-size:120%">Personal Digital Photograph:</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: camera"></span>
                <input class="uk-input uk-form-small" type="file" name="personalPhoto" accept="image/png, image/jpeg" {{#if submission.personalPhoto}}
                       placeholder="{{submission.personalPhoto}}"
                {{/if}}
                    {{#unless submission.personalPhoto}}
                       placeholder="Personal Digital Photograph"
                    {{/unless}}/>
            </div>
        </div>

        <div class="uk-margin">
            <label style="color: black; font-size:120%">Project Image:</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: image"></span>
                <input class="uk-input uk-form-small" type="file" name="projectImage" accept="image/png, image/jpeg" {{#if submission.projectImage}}
                       placeholder="{{submission.projectImage}}"
                {{/if}}
                    {{#unless submission.projectImage}}
                       placeholder="Project Image"
                    {{/unless}}/>
            </div>
        </div>

        <div class="uk-margin">
            <label style="color: black; font-size:120%">Summary (100 words max.):</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: info"></span>
                <textarea class="uk-textarea uk-form-small" rows="7" type="text" name="summary" {{#if submission.summary}}
                          placeholder="{{submission.summary}}"
                {{/if}}
                    {{#unless submission.summary}}
                          placeholder="Summary (≤100 characters)"
                    {{/unless}}/></textarea>
            </div>
        </div>

        <div class="uk-margin">
            <label style="color: black; font-size:120%">Project Landing Page URL:</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: link"></span>
                <input class="uk-input uk-form-small" type="url" name="projectUrl" {{#if submission.projectUrl}}
                       placeholder="{{submission.projectUrl}}"
                {{/if}}
                    {{#unless submission.projectUrl}}
                       placeholder="Project Landing Page URL"
                    {{/unless}}/>
            </div>
        </div>

        <div class="uk-margin">
            <label style="color: black; font-size:120%">Demonstration Video URL:</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: youtube"></span>
                <input class="uk-input uk-form-small" type="url" name="videoUrl" {{#if submission.videoUrl}}
                       placeholder="{{submission.videoUrl}}"
                {{/if}}
                    {{#unless submission.videoUrl}}
                       placeholder="Demonstration Video URL"
                    {{/unless}}/>
            </div>
        </div>

        <div class="uk-margin">
            <button style="background-color: #653DC2" class="submit uk-button uk-button-primary uk-button-large uk-width-1-1">Submit</button>
        </div>

    </form>

    {{> error }}

</div>