<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> main-menu title="Uathcruthú" subTitle="Foirm Cuir isteach Sonraí Tionscadal"}}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-expand@m">
            <h1 class="uk-heading-small">Foirm Aighneacht - Mac Léinn</h1>
        </div>
    </div>
</div>

<!--The contents of this view depend on whether or not a deadline has been set, and if so, whether or not it has elapsed.
If it has been elapsed, the user is cut off from making any submission, and a notification of such is displayed
If it has not yet elapsed, a notification of the time left is displayed
If it has not yet elapsed, and there is less than 24 hours remaining, the notification of the time left is displayed in red
If a deadline has not yet been set, there is no notification whatsoever related to deadlines, and the form is fully accessible.-->
{{#unless (eq deadlineCutOff null)}}
{{#if (gt today deadlineCutOff)}}
    <div class="uk-container uk-margin">
        <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
            <div class="uk-width-expand@m">
                <h1 class="uk-heading-small">You have missed the deadline for submission!</h1>
                <p>Leathanach Ionchuir</p>
            </div>
        </div>
    </div>
{{/if}}
{{/unless}}

{{#unless (gt today deadlineCutOff)}}
        <div style="background-color: #877EB4" class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
            <h3 style="color: black" class="uk-card-title uk-text-center">Fill in fields for Handbook/Showcase Submission</h3>

            {{#unless (eq deadline null)}}
                <h4 id="dueDate" style="color: black" class="uk-text-center">{{timeLeft}}</h4>
                <h5 id="timeLeft" style="color: black" class="uk-text-center">{{timeLeft}}</h5>

            <!--This script contains all functions required to process the 'today', 'deadline' and 'deadlineCutOff variables
            required for this view.-->
                <script type="text/javascript">
                    //This function adds 23 hours and 59 minutes to the deadline selected by the admin. The assumption
                    //is that the deadline selected would be inclusive of that actual day. This is where this was originally
                    //set, but it's since been moved to the accounts.js controller, and is therefore disabled here.
                    function addHoursMinutes(numOfHours, numOfMins, date = new Date()) {
                        date.setHours(date.getHours() + numOfHours);
                        date.setMinutes(date.getMinutes() + numOfMins);
                        return date;
                    }
                    window.onload = function timeLeft() {
                        const today = new Date();
                        //const deadline = addHoursMinutes(22, 59, new Date("{{deadline}}")); //Need to subtract 1 hour from deadline date, as it is selected incorrectly from calendar drop down
                        const deadline = new Date("{{deadline}}");
                        const differenceInTime = deadline - today;
                        const differenceInDays = parseInt(differenceInTime / (1000 * 3600 * 24));
                        const differenceInHours = parseInt(differenceInTime / (1000 * 3600)) - (differenceInDays * 24);
                        const differenceInMinutes = parseInt(differenceInTime / (1000 * 60)) - (differenceInDays * 24 * 60) - (differenceInHours * 60);
                        document.getElementById('timeLeft').innerHTML = "Time left: " + differenceInDays + " days, " + differenceInHours + " hours, " + differenceInMinutes + " minutes";
                        document.getElementById('dueDate').innerHTML = "Due Date: " + deadline;
                        if(differenceInTime < 86400000) {
                            const deadline = document.getElementById("timeLeft");
                            deadline.setAttribute("style", "color: red");
                        }
                    }
                </script>
            {{/unless}}

            <form name="submission-form" action="/submit" method="POST" enctype="multipart/form-data">

                <div class="uk-margin uk-grid-small uk-child-width-auto" uk-grid>
                    <label for="nda" style="color: black">
                        <input class="uk-checkbox" type="checkbox" id="nda" name="nda" value="true" onclick="disableField()"> Non Disclosure Agreement
                    </label>
                    <!--If the user checks the NDA checkbox, this function will hide all irrelevant fields (i.e. data that
                    is not required to be submitted as it's covered under NDA).-->
                    <script type="text/javascript">
                        function disableField(){
                            document.getElementById("pleaseSpecify").hidden = false;
                            if(document.getElementById("nda").checked === true){
                                document.getElementById("projectTitle").hidden = true;
                                document.getElementById("descriptiveTitle").hidden = true;
                                document.getElementById("projectType").hidden = true;
                                document.getElementById("pleaseSpecify").hidden = true;
                                document.getElementById("projectImage").hidden = true;
                                document.getElementById("summary").hidden = true;
                                document.getElementById("projectUrl").hidden = true;
                                document.getElementById("videoUrl").hidden = true;
                            }else{
                                document.getElementById("projectTitle").hidden = false;
                                document.getElementById("descriptiveTitle").hidden = false;
                                document.getElementById("projectType").hidden = false;
                                document.getElementById("pleaseSpecify").hidden = true;
                                document.getElementById("projectImage").hidden = false;
                                document.getElementById("summary").hidden = false;
                                document.getElementById("projectUrl").hidden = false;
                                document.getElementById("videoUrl").hidden = false;
                            }
                        }
                    </script>
                </div>

                <div class="uk-margin" id="projectTitle">
                    <label style="color: black; font-size:120%" id="projectTitleLabel">Project Title</label>
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                        <input class="uk-input uk-form-small" id="projectTitle" type="text" name="projectTitle"
                            {{#if submission.projectTitle}}
                               placeholder="{{submission.projectTitle}}"
                            {{/if}}
                            {{#unless submission.projectTitle}}
                               placeholder="Project Title"
                            {{/unless}}/>
                    </div>
                </div>

                <div class="uk-margin" id="descriptiveTitle">
                    <label style="color: black; font-size:120%">Descriptive Title</label>
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                        <input class="uk-input uk-form-small" type="text" name="descriptiveTitle"
                            {{#if submission.descriptiveTitle}}
                               placeholder="{{submission.descriptiveTitle}}"
                            {{/if}}
                            {{#unless submission.descriptiveTitle}}
                               placeholder="Descriptive Title"
                            {{/unless}}/>
                    </div>
                </div>

                <div id="projectType">
                    <label style="color: black; font-size:120%" class="uk-form-label" for="form-stacked-select">Project Type</label>
                    <div class="uk-form-controls">
                        <select id="projectTypeSelect" name="projectType" class="uk-select" onchange="otherPleaseSpecify()">
                            {{#if submission.projectType}}
                                <option id="currentSelection" value="{{submission.projectType}}" selected>{{submission.projectType}}</option>
                            {{/if}}
                            {{#unless submission.projectType}}
                                <option id="currentSelection" value="" disabled selected hidden>Select Project Type</option>
                            {{/unless}}/>
                        </select>
                    </div>
                </div>

                <!--This sets the projectType options for selection.-->
                <script type="text/javascript">
                    const select = document.getElementById("projectTypeSelect");
                    const currentSelection = document.getElementById("currentSelection");
                    const projectTypesString = "{{projectTypes}}";
                    const projectTypes = projectTypesString.split(",");
                    for(var i = 0; i < projectTypes.length; i++)
                    {
                        const option = document.createElement("OPTION"),
                                txt = document.createTextNode(projectTypes[i]);
                        option.appendChild(txt);
                        if(currentSelection.getAttribute("value") !== projectTypes[i]) {
                            option.setAttribute("value", projectTypes[i]);
                            select.insertBefore(option, select.lastChild);
                        }
                    }
                </script>

                <!--If the user selects 'Other' projectType, they are prompted to specify exactly their choice,
                by entering a text value. The hidden projectTypeOther checkbox is also checked, which sets this object
                boolean attribute to true, which allows for the projectType to be edited by the administrator.-->
                <script type="text/javascript">
                    function otherPleaseSpecify(){
                        if(document.getElementById("projectTypeSelect").value === "Other"){
                            document.getElementById("pleaseSpecify").hidden = false;
                            document.getElementById("pleaseSpecifyInput").disabled = false;
                            document.getElementById("projectType").hidden = true;
                            document.getElementById("projectTypeSelect").disabled = true;
                            document.getElementById("projectTypeOther").checked = true;
                        } else if("{{projectTypes}}".includes(document.getElementById("projectTypeSelect").value) === true){
                            document.getElementById("pleaseSpecify").hidden = true;
                            document.getElementById("pleaseSpecifyInput").disabled = true;
                            document.getElementById("projectType").hidden = false;
                            document.getElementById("projectTypeSelect").disabled = false;
                            document.getElementById("projectTypeOther").checked = false;
                        } else{
                            document.getElementById("projectTypeOther").checked = true;}
                    }
                </script>

                <div id="pleaseSpecify" class="uk-margin" hidden>
                    <label style="color: black; font-size:120%"><strong>Project Type - please specify</strong></label>
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: file-edit"></span>
                        <input id="pleaseSpecifyInput" class="uk-input uk-form-small" type="text" name="projectType" placeholder="Other - Please specify" disabled/>
                    </div>
                </div>

                <label for="projectTypeOther" style="color: black">
                    <input class="uk-checkbox" type="checkbox" id="projectTypeOther" name="projectTypeOther" value="true" hidden>
                </label>

                <div class="uk-margin">
                    <label style="color: black; font-size:120%">Personal Digital Photograph</label>
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: camera"></span>
                        <input class="uk-input uk-form-small" type="file" name="personalPhoto" accept="image/png, image/jpeg"/>
                    </div>
                </div>

                <div class="uk-margin" id="projectImage">
                    <label style="color: black; font-size:120%">Project Image</label>
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: image"></span>
                        <input class="uk-input uk-form-small" type="file" name="projectImage" accept="image/png, image/jpeg"/>
                    </div>
                </div>

                <div class="uk-margin" id="summary">
                    <label style="color: black; font-size:120%">Summary (100 words max.)</label>
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: info"></span>
                        <textarea class="uk-textarea uk-form-small" rows="7" type="text" name="summary"
                            {{#if submission.summary}}
                                placeholder="{{submission.summary}}"
                            {{/if}}
                            {{#unless submission.summary}}
                                placeholder="Summary (≤100 words)"
                            {{/unless}}/></textarea>
                    </div>
                </div>

                <div class="uk-margin" id="projectUrl">
                    <label style="color: black; font-size:120%">Project Landing Page URL</label>
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: link"></span>
                        <input class="uk-input uk-form-small" type="url" name="projectUrl"
                            {{#if submission.projectUrl}}
                            placeholder="{{submission.projectUrl}}"
                            {{/if}}
                            {{#unless submission.projectUrl}}
                            placeholder="Project Landing Page URL"
                            {{/unless}}/>
                    </div>
                </div>

                <div class="uk-margin">
                    <button style="background-color: #653DC2" class="submit uk-button uk-button-primary uk-button-large uk-width-1-1" onclick="otherPleaseSpecify()">Submit</button>
                </div>

            </form>

            {{> error }}
        </div>
{{/unless}}