<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> main-menu title="Uathcruthú" subTitle="Submit Project Showcase Data"}}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-expand@m">
            <h1 class="uk-heading-small">Tionscadal Uathcruthú</h1>
        </div>
    </div>
</div>

{{#if (gt today deadline)}}
    <div class="uk-container uk-margin">
        <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
            <div class="uk-width-expand@m">
                <h1 class="uk-heading-small">You have missed the deadline for submission!</h1>
                <p>Leathanach Ionchuir</p>
            </div>
        </div>
    </div>
{{/if}}

{{#unless (gt today deadline)}}
<div style="background-color: #877EB4" class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <h3 style="color: black" class="uk-card-title uk-text-center">Fill in fields for Handbook/Showcase Submission</h3>
    <form action="/submit" method="POST" enctype="multipart/form-data">

        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <label for="nda" style="color: black">
                <input class="uk-checkbox" type="checkbox" id="nda" name="nda" value="true" onclick="disableField()"> Non Disclosure Agreement?
            </label>
            <script type="text/javascript">
                function disableField(){
                    if(document.getElementById("nda").checked === true){
                        document.getElementById("projectTitle").hidden = true;
                        document.getElementById("descriptiveTitle").hidden = true;
                        document.getElementById("projectType").hidden = true;
                        document.getElementById("projectImage").hidden = true;
                        document.getElementById("summary").hidden = true;
                        document.getElementById("projectUrl").hidden = true;
                        document.getElementById("videoUrl").hidden = true;
                    }else{
                        document.getElementById("projectTitle").hidden = false;
                        document.getElementById("descriptiveTitle").hidden = false;
                        document.getElementById("projectType").hidden = false;
                        document.getElementById("projectImage").hidden = false;
                        document.getElementById("summary").hidden = false;
                        document.getElementById("projectUrl").hidden = false;
                        document.getElementById("videoUrl").hidden = false;
                    }
                }
            </script>
        </div>

        <div class="uk-margin" id="projectTitle">
            <label style="color: black; font-size:120%" id="projectTitleLabel">Project Title:</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                <input class="uk-input uk-form-small" id="projectTitle" type="text" name="projectTitle"
                    {{#if submission.projectTitle}}
                       placeholder="{{submission.projectTitle}}"
                    {{/if}}
                    {{#unless submission.projectTitle}}
                       placeholder="Project Title"
                    {{/unless}}/>
            </div>
        </div>

        <div class="uk-margin" id="descriptiveTitle">
            <label style="color: black; font-size:120%">Descriptive Title:</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                <input class="uk-input uk-form-small" type="text" name="descriptiveTitle"
                    {{#if submission.descriptiveTitle}}
                       placeholder="{{submission.descriptiveTitle}}"
                    {{/if}}
                    {{#unless submission.descriptiveTitle}}
                       placeholder="Descriptive Title"
                    {{/unless}}/>
            </div>
        </div>


        <div id="projectType">
            {{#if (eq submission.projectType "Other")}}
                <div class="uk-margin">
                    <label style="color: black; font-size:120%"><strong>Project Type - if 'Other', please specify:</strong></label>
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: file-edit"></span>
                        <input class="uk-input uk-form-small" type="text" name="projectType" placeholder="Other - Please specify"/>
                    </div>
                </div>
            {{else}}
                <label style="color: black; font-size:120%" class="uk-form-label" for="form-stacked-select">Project Type</label>
                <div class="uk-form-controls">
                    <select name="projectType" class="uk-select">
                        {{#if submission.projectType}}
                            <option value="{{submission.projectType}}" selected>{{submission.projectType}}</option>
                        {{/if}}

                        {{#unless submission.projectType}}
                            <option value="" disabled selected hidden>Select Project Type</option>
                        {{/unless}}/>

                        {{#unless (eq submission.projectType "Native Mobile Application")}}
                            <option value="Native Mobile Application">Native Mobile Application</option>
                        {{/unless}}/>

                        {{#unless (eq submission.projectType "Web Application")}}
                            <option value="Web Application">Web Application</option>
                        {{/unless}}

                        {{#unless (eq submission.projectType "Other")}}
                            <option value="Other">Other</option>
                        {{/unless}}
                    </select>
                </div>
            {{/if}}
        </div>


        <div class="uk-margin">
            <label style="color: black; font-size:120%">Personal Digital Photograph:</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: camera"></span>
                <input class="uk-input uk-form-small" type="file" name="personalPhoto" accept="image/png, image/jpeg"
                    {{#if submission.personalPhoto}}
                       placeholder="{{submission.personalPhoto}}"
                    {{/if}}
                    {{#unless submission.personalPhoto}}
                       placeholder="Personal Digital Photograph"
                    {{/unless}}/>
            </div>
        </div>

        <div class="uk-margin" id="projectImage">
            <label style="color: black; font-size:120%">Project Image:</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: image"></span>
                <input class="uk-input uk-form-small" type="file" name="projectImage" accept="image/png, image/jpeg"
                    {{#if submission.projectImage}}
                       placeholder="{{submission.projectImage}}"
                    {{/if}}
                    {{#unless submission.projectImage}}
                       placeholder="Project Image"
                    {{/unless}}/>
            </div>
        </div>

        <div class="uk-margin" id="summary">
            <label style="color: black; font-size:120%">Summary (100 words max.):</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: info"></span>
                <textarea class="uk-textarea uk-form-small" rows="7" type="text" name="summary"
                    {{#if submission.summary}}
                          placeholder="{{submission.summary}}"
                    {{/if}}
                    {{#unless submission.summary}}
                          placeholder="Summary (≤100 characters)"
                    {{/unless}}/></textarea>
            </div>
        </div>

        <div class="uk-margin" id="projectUrl">
            <label style="color: black; font-size:120%">Project Landing Page URL:</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: link"></span>
                <input class="uk-input uk-form-small" type="url" name="projectUrl"
                    {{#if submission.projectUrl}}
                       placeholder="{{submission.projectUrl}}"
                    {{/if}}
                    {{#unless submission.projectUrl}}
                       placeholder="Project Landing Page URL"
                    {{/unless}}/>
            </div>
        </div>

        <div class="uk-margin" id="videoUrl">
            <label style="color: black; font-size:120%">Demonstration Video URL:</label>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: youtube"></span>
                <input class="uk-input uk-form-small" type="url" name="videoUrl"
                    {{#if submission.videoUrl}}
                       placeholder="{{submission.videoUrl}}"
                    {{/if}}
                    {{#unless submission.videoUrl}}
                       placeholder="Demonstration Video URL"
                    {{/unless}}/>
            </div>
        </div>

        <div class="uk-margin">
            <button style="background-color: #653DC2" class="submit uk-button uk-button-primary uk-button-large uk-width-1-1">Submit</button>
        </div>

    </form>

    {{> error }}

</div>
{{/unless}}